<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="container">
    <div class="wrapper">

      <div class="footer-col-wrapper">
        <div class="row">

          <div class="col">
            {%- include social.html -%}
          </div>

          <div class="col">
            <div class="row justify-content-end">
              <ul class="contact-list">
                <li class="p-name">
                  {%- if site.author -%}
                  {{ site.author | escape }}
                  {%- else -%}
                  {{ site.title | escape }}
                  {%- endif -%}
                </li>
                {%- if site.email -%}
                <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                {%- endif -%}
                <li>
                  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

</footer>